:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --neon-color: #00ff00;
}

h1, h2, h3 {
    color: var(--neon-color);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

/* Scrollbar Width */
::-webkit-scrollbar {
    width: 9px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border: #00ff00 solid 1px;
}

/* Scrollbar Hover */
::-webkit-scrollbar-thumb:hover {
    background: #00ff00;
    border: none;
}

body {
    font-family: 'Courier New', monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--neon-color);
    text-decoration: none;
}

main {
    padding-top: 60px;
}

section {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio-container {
    width: calc(100% - 20px);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #121212;
    padding: 10px;
}

.bio-container::-webkit-scrollbar {
    display: none;
}

.bio-container {
    scrollbar-width: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    border: 2px solid var(--neon-color);
}

input[type="email"],
textarea {
    width: 69%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--neon-color);
    border-radius: 5px;
    background-color: #2a2a2a;
    color: var(--text-color);
    font-size: 1.03em;
    text-align: center;
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
    opacity: 1;
}

input[type="email"]:focus,
textarea:focus {
    background-color: rgba(0, 255, 0, 0.1);
    outline: none;
}

button {
    padding: 10px;
    font-size: 1em;
    color: #000000;
    background-color: var(--neon-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0f0f0f0f;
    color: var(--neon-color);
    border: 1px solid var(--neon-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 15px;
    }
}

#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

#about .details-container {
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

#about details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
}

#about summary {
    cursor: pointer;
    color: var(--neon-color);
    display: inline-block;
    border: 1px solid var(--neon-color);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px; /* Add padding to the summary */
}

#about summary:focus {
    outline: none;
}

#about summary::marker {
    display: none;
}

#about .additional-details {
    text-align: left;
}

/* Additional styling for consistency */
.additional-details p {
    margin-top: 0;
}

footer {
    text-align: center;
}

/* Make ASCII art responsive */
#home pre {
    font-size: calc(1vw + 0.5em); /* Responsive font size */
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
    white-space: pre; /* Preserve whitespace and line breaks */
    text-align: center; /* Center align the ASCII art */
    max-width: 100%; /* Ensure it doesn't exceed the container width */
}
